$space: #0b1e8a;
$space-light: #3d68b2;
$space-dark: #040327;
// 0E0D40
$mars: #e85937;
$mars-light: #ff8c70;
$mars-dark: #cf3f1d;

$gray-01: #0d0e13;
$gray-02: #2c2d3a;
$gray-03: #60616f;
$gray-04: #898a93;
$gray-05: #d5d5db;

$uranus: #24ffe9;
$sun: #f5d15f;
$jupiter: #e00e34;
$earth: #0fdd86;
$saturn: #554ad7;

//mediada
$Size-18: 1.125rem;
$Size-20: 1.25rem;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  background: $space-dark;
  font-family: "Heebo", sans-serif;
}
.header {
  padding: 1.56rem 7rem;
}

#section-banner {
  .row {
    display: flex;

    .colum {
      display: flex;
      flex-direction: column;
      gap: 0.5rem 2rem;

      &.content {
        padding-left: 111px;
        gap: 25px;
        justify-content: center;
      }

      .text-content-header {
        color: $sun;
        font-size: $Size-18;
      }
      h1 {
        font-size: 3.875rem;
        color: white;

        &::after {
          content: ".";
          color: $sun;
        }
      }
      .text-content-footer {
        font-size: $Size-20;
        color: $gray-05;
      }
    }

    .banner {
      width: 520px;
      height: 520px;
      transform: translate(0, -4rem);
    }
  }
}

#icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin-top: 80px;

  figcaption {
    width: 70%;
    color: white;
  }
}

.button {
  height: 3.25rem;
  width: 16.5rem;
  border: 0;
  background: $mars;
  color: white;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 700;
  transition: opacity 500ms;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }

  &.small {
    width: 80%;
  }
}
#gradiente {
  background: linear-gradient(0deg, $gray-01 85%, $space-dark 100%);

.starts{
  background: url('../img/Starts.svg') repeat-y;
}

  .lines {
    background: url("../img/lines.svg") no-repeat;
    padding-bottom: 100px;
  }
}
.mart-top {
  display: flex;
  align-items: center;
  margin-top: 100px;
  p {
    color: $gray-05;
    font-weight: 400;
    width: 80%;
    margin-top: 25px;
  }
  p:first-child {
    color: $sun;
    font-size: 1.125;
  }

  h2 {
    font-size: 2rem;
    color: white;
  }
}
.mart-bottom {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  .content {
    align-self: center;

    padding-left: 110px;

    h2 {
      font-size: 2rem;
      font-weight: 700;
      color: white;
      margin: 12px 0 25px 0;
      width: 60%;

      &::after {
        content: ".";
        color: $sun;
      }
    }
    a {
      color: $mars-light;
      font-size: 1.125rem;
      text-decoration: none;
    }
  }
  .images {
    display: flex;
    gap: 32px;
    overflow: hidden;
  }
}

.form-section {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 20px;
    background: #0e0d40;
    color: white;
    padding: 40px 50px;

    .text {
      width: 70%;
      legend {
        font-size: 1.5rem;
        margin: 16px 0;

      }
      p {
        color: $gray-05;
      }

    }
    label {
      margin: 24px 0 12px;
    }
  }
}
.input {
  padding: 0 10px;
  width: 90%;
  background: transparent;
  border: 1px solid $gray-05;
  border-radius: 6px;
  height: 55px;
  outline: none;
  color: white;
  font-size: 20px;
}

 input[type="checkbox"].input{
background-color: #0b1e8a;
}